target/classes/convertedpricebycountry.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="convertedpricebycountryFlow">
        <choice doc:name="Choice">
            <when expression="payload == 'US'">
                <logger level="INFO" doc:name="Logger"/>
                <set-payload value="#[new Integer(65)]" doc:name="Set Payload"/>
            </when>
            <when expression="payload == 'UK'">
                <logger level="INFO" doc:name="Logger"/>
                <set-payload value="#[new Integer(85)]" doc:name="Set Payload"/>
            </when>
            <otherwise>
                <logger level="INFO" doc:name="Logger"/>
                <set-payload value="#[new Integer(1)]" doc:name="Set Payload"/>
            </otherwise>
        </choice>
    </flow>
</mule>
